/* glow.css */
@keyframes glow-bullet {
  0%,
  100% {
    text-shadow: 0 0 5px #0ff, 0 0 10px #0ff;
  }
  50% {
    text-shadow: 0 0 15px #0ff, 0 0 25px #0ff;
  }
}

@keyframes glow-img {
  0%,
  100% {
    box-shadow: 0 0 10px #00f, 0 0 20px #0ff;
  }
  50% {
    box-shadow: 0 0 20px #0ff, 0 0 30px #0ff;
  }
}

.animate-glow-bullet {
  animation: glow-bullet 2s ease-in-out infinite;
}

.animate-glow-img {
  animation: glow-img 3s ease-in-out infinite;
}

.glowing-text {
  text-shadow: 0 0 5px #3b82f6, 0 0 10px #3b82f6, 0 0 20px #60a5fa;
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #3b82f6;
  }
  to {
    text-shadow: 0 0 20px #60a5fa, 0 0 30px #3b82f6;
  }
}

/* Custom Cursor */
.typed-cursor {
  font-weight: bold;
  animation: blink 0.7s infinite;
  color: #3b82f6;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.glowing-box {
  /* border: #3b82f6; */
  border-radius: 1rem;
  padding: 1.5rem;
  /* background-color: rgba(30, 41, 59, 0.2); */
  /* box-shadow: 0 0 12px #3b82f6, 0 0 24px #2563eb, 0 0 36px #3b82f6; */
  transition: transform 0.3s ease-in-out, box-shadow 0.6s ease-in-out;
}

.glowing-box:hover {
  transform: scale(1.02);
  box-shadow: 0 0 16px #0665da, 0 0 32px #0a60e9, 0 0 48px #157af5;
}
